body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 20px;
    background-color:#F1D3B2;

    /* background-color: #FEE715; */
}

.container {
    background-color:#46211A;
    /* background-color:#101820; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}



button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color:#A43820;

    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #430e02;
    transform: translateY(-2px);
}

.result {
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}